symbolic-pane {
  padding: 38px;
}

icons-set-view list {
  background-color: @theme_bg_color;
}

icons-group flowboxchild {
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

icons-group flowboxchild:hover {
  border-radius: 8px;
  background: alpha(currentColor, .07);
}

icons-group flowboxchild:active {
  border-radius: 8px;
  background: alpha(currentColor, .16);
}

icons-group flowboxchild:selected {
  border-radius: 8px;
  background: alpha(currentColor, .1);
}

.dark-pane {
  color: #ffffff;
  background-color: #242424;
}

.light-pane {
  color: rgba(0, 0, 0, 0.8);
  background-color: #fafafa;
}

.recent-item {
  margin-top: 6px;
  margin-bottom: 6px;
}
